h1 {
	color: red;
}

.jumbotron {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
	color: #d35400; 
	background-color: #34495e;
	padding-bottom: 10px;
	padding-top: 5px;
	margin-bottom: 0px;
}
h1 {
	margin-left: 20px;
	margin-top: -5%;
}

body {
	background-image: url("http://images1.laweekly.com/imager/u/original/6631988/raves-return-los-angeles-convention.jpg");
	}
a {
	font-size: 24px;
	color: #34495e;
}
.progress {
	background: #34495e;
	border: 0px solid #d35400;
	border-radius: 4px;
	height: 12px;
	margin-left: 10px;
	margin-right: 10px;
}
.progress-bar-custom {
	background: #d35400;
}
.col-xs-4 {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	background-color: #7f8c8d;
}
th {
	font-size: 20px;
	color: #ecf0f1;
	text-align: center;
}
.col-sm-4 {
	background-color: #34495e;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 20px;
	padding-top: 20px;
}
html, body {
	margin: 0;
	height: 100%;
	overflow: hidden
}
input[type=text] {
    width: 200px;
    font-size: 24px;
    background-color: #34495e;
    background-position: 10px 10px; 
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

input[type=text]:focus {
    width: 25%;
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #d35400;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.hvr-bubble-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-bubble-right:before {
  pointer-events: none;
  position: absolute; left:100%;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  top: calc(50% - 10px);
  right: 0;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #d35400;
}
.hvr-bubble-right:hover:before, .hvr-bubble-right:focus:before, .hvr-bubble-right:active:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
=======
	color: #FF6600; 
	background-color: #236B8E;
>>>>>>> parent of 6f774eb... country bar
=======
	color: #FF6600; 
	background-color: #236B8E;
>>>>>>> parent of 6f774eb... country bar
=======
	color: #FF6600; 
	background-color: #236B8E;
>>>>>>> parent of 6f774eb... country bar
}